body {
    background: #1abc9c;
    display: flex;
    height: 100vh;
    align-content: center;
    justify-content: center;
    align-items: center;
}

body.darkMode {
  background: #23272a;
}

h1, p {
  font-family: 'Roboto', sans-serif; font-size: 20pt;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  color: white;
}

p a {
  text-decoration: none;
  color: #f1c40f;
}

body.darkMode #squarefree {
  background: rgb(114, 137, 218);
}

if (square.style.backgroundColor === "") {
  square.style.backgroundColor = "";
} else if (square.style.backgroundColor === "rgb(153, 170, 181)") {
  square.style.backgroundColor = "white";
} else if (square.style.backgroundColor === "cyan") {
  square.style.backgroundColor = "rgb(114, 137, 218)";
} else if (square.style.backgroundColor === "rgb(114, 137, 218)") {
  square.style.backgroundColor = "cyan";
}


#bingotable {
  margin: 0 auto;
  text-align: center;
  width: 420px;
  height: 420px;
  border-collapse: collapse;
  background: white;
  table-layout: fixed;
}

th, td {
  font-family: Helvetica;
  margin: 0 auto;
  text-align: center;
  border: 3px solid black;
  width: 20%;
  height: 18%;
}

th {
    height: 10%;
    background: #9b59b6;
}

#squarefree {
  background: cyan;
  font-weight: 600;
  font-size: 15pt;
}

td {
  background: rgb(153, 170, 181);
}

body.darkMode td {
  background: white;
}

td.clicked {
  background: cyan;
}

body.darkMode td.clicked {
  background: rgb(114, 137, 218);
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}